.combos{
	width: 100%;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	@media (max-width: 950px){
		display: grid;
		margin: 2px;
	}
	@media (min-width: 951px){
		height: 600px;
	}

	.picNos{
		cursor: pointer;
		@media (max-width: 950px){
			height: 100;
		}
	}
	.fraNos{
		text-align: center;
	}
}