.footer{
	background-color: $colorNaranja;
	width: 100%;
    
    .footerDiv{
        display: flex;
        justify-content: space-between;
        //smartphone
        @media (max-width: 415px){
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }
    .burgerTam{
        margin-top: 2%;
        width: 250px;
        height: 150px;
        cursor: pointer;
        //smartphone
        @media (max-width: 415px){
            width: 150px;
            height: 90px;
            margin-left: 55px;
    }
        
    }
    ul{
        list-style-type: none;
        text-align: center;
    .sociales{
            font-size: 20px;
            padding: 5px;
            cursor: pointer;
        }
    li a{
        color: white;
    }
    }
    p{
        padding: 15px;
        font-size: 25px;
    }
}
