*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: linear-gradient(to bottom, black, black,  grey,lightgrey);
	font-family: 'Staatliches', cursive;
}
div a{
    text-decoration: none;
    color: black
}
.blanco{
	color: white;
}
//variables

$colorNaranja: #0c0b0b;
$colorMenu: #921600,
