#prueba{
    margin-top: 3%;
}
.menuHamb{
	margin: 0px;
	padding: 0px;
    background-image: linear-gradient(to bottom, black, rgb(71, 17, 17),rgb(100, 25, 25),rgb(124, 34, 34));
	color: $colorMenu;
	font-size: 20px;
	text-align: center;
	align-items: center;
	display: grid;
	justify-content:flex-start;
	grid-template-areas: 
    "articulo1 articulo1 articulo1"
    "articulo2 articulo2 articulo2"
    "articulo3 articulo3 articulo3";
;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    #hamb1{
        display: flex;
        justify-content: space-around;
        grid-area: articulo1;

        .margenProd{
            margin: 8px;
        }

        .imgHamb{
            width: 300px;
            height: 200px;
            cursor: pointer;
        }
        .hambTrans{
            transition: all 1s;
        }
        .hambTrans:hover{
            width: 320px;
            height: 220px;
        }
    }
        #hamb2{
        display: flex;
        justify-content: space-around;
        grid-area: articulo2;

        .margenProd{
            margin: 8px;
        }
            
        .imgHamb{
        width: 300px;
        height: 200px;
        margin: 10px;
        cursor: pointer;

         }
         

        .hambTrans{
        transition: all 1s;
         }
         
        .hambTrans:hover{
        width: 320px;
        height: 220px;
         }
    }
    #hamb3{
        display: flex;
        justify-content: space-around;
        grid-area: articulo3;

        .margenProd{
            margin: 8px;
        }      
        
        .imgHamb{
            width: 300px;
            height: 200px;
            cursor: pointer;

         }
        
         .hambTrans{
            transition: all 1s;
        }
       
        .hambTrans:hover{
            width: 320px;
            height: 220px;
         }
    }
}
//Papas fritas
.tituloArticle{
    font-size: 45px;
    color: rgb(109, 108, 106);
    background-color: black;
    margin: 0px;
    text-align: center;
}
.menuFritas{
	margin: 0px;
	padding: 0px;
    background-image: linear-gradient(to top, black, black, rgb(71, 17, 17),rgb(100, 25, 25),rgb(124, 34, 34));
	color: $colorMenu;
	font-size: 20px;
	text-align: center;
	align-items: center;
	display: grid;
	justify-content:flex-start;
        grid-template-areas: 
        "articulo1 articulo2 articulo3"
        "articulo1 articulo2 articulo3"
        "articulo1 articulo2 articulo3";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr ;

        #fritas1{
            grid-area: articulo1;
    
            .margenProd{
                margin: 8px;
            }
    
            .imgHamb{
                width: 300px;
                height: 200px;
                cursor: pointer;

            }
            .hambTrans{
                transition: all 1s;
            }
            .hambTrans:hover{
                width: 320px;
                height: 220px;
            }
        }
            #fritas2{
            grid-area: articulo2;
    
            .margenProd{
                margin: 8px;
            }
                
            .imgHamb{
            width: 300px;
            height: 200px;
            cursor: pointer;
            margin: 10px;

             }
    
            .hambTrans{
            transition: all 1s;
             }
             
            .hambTrans:hover{
            width: 320px;
            height: 220px;
             }
        }
        #fritas3{
            grid-area: articulo3;
    
            .margenProd{
                margin: 8px;
            }      
            
            .imgHamb{
                width: 300px;
                height: 200px;
                cursor: pointer;

             }
            
             .hambTrans{
                transition: all 1s;
            }
           
            .hambTrans:hover{
                width: 320px;
                height: 220px;
            }
        }
}