* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(black), color-stop(grey), to(lightgrey));
  background-image: linear-gradient(to bottom, black, black, grey, lightgrey);
  font-family: 'Staatliches', cursive;
}

div a {
  text-decoration: none;
  color: black;
}

.blanco {
  color: white;
}

.headerFlex {
  background-color: #0c0b0b;
  letter-spacing: 1px;
  padding: 5px 3px;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .headerFlex {
    height: 25vh;
  }
}

@media (min-width: 415px) and (max-width: 769px) {
  .headerFlex {
    height: 20vh;
  }
}

@media (max-width: 415px) {
  .headerFlex {
    padding: 0px;
    height: 28vh;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerFlex .imgLogo {
  width: 200px;
  height: 100px;
  margin-left: 120px;
  margin-top: 14px;
}

@media (min-width: 415px) and (max-width: 769px) {
  .headerFlex .imgLogo {
    width: 150;
    height: 90;
    margin-top: 15px;
  }
}

@media (max-width: 415px) {
  .headerFlex .imgLogo {
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-left: 150px;
  }
}

.headerFlex .logoTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 415px) {
  .headerFlex .logoTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.headerFlex .logoTrans:hover {
  width: 220px;
  height: 115px;
}

@media (max-width: 415px) {
  .headerFlex .logoTrans:hover {
    width: 100px;
    height: 80px;
  }
}

.headerFlex nav {
  width: 50%;
}

.headerFlex ul a {
  text-decoration: none;
  color: white;
}

.headerFlex .barraInicio {
  font-size: 16px;
  text-align: center;
  padding: 16px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center center;
      -ms-flex-align: center center;
          align-items: center center;
}

@media (max-width: 415px) {
  .headerFlex .barraInicio {
    margin-left: 17px;
  }
}

.headerFlex .barraInicio .listMenu {
  margin: 4px;
  margin-top: 35px;
}

.footer {
  background-color: #0c0b0b;
  width: 100%;
}

.footer .footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 415px) {
  .footer .footerDiv {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .burgerTam {
  margin-top: 2%;
  width: 250px;
  height: 150px;
  cursor: pointer;
}

@media (max-width: 625px) {
  .footer .burgerTam {
    width: 150px;
    height: 90px;
    margin-left: 55px;
  }
}

.footer ul {
  list-style-type: none;
  text-align: center;
}

.footer ul .sociales {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.footer ul li a {
  color: white;
}

.footer p {
  padding: 15px;
  font-size: 25px;
}

.bannerMenu {
  height: 600px;
  width: 100%;
  background-image: url("img/hamburguesamenu.jpg");
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerMenu h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.bannerMenu h1 a {
  margin-left: 36.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerMenu p {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerMenu h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ca8647;
}

.bannerNosotros {
  height: 600px;
  width: 100%;
  background-image: url("Estilos/img/nosotros.jpeg");
  background-size: cover;
  background-position: center center;
}

.bannerNosotros h2 a {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerNosotros h3 {
  font-size: 40px;
  font-weight: 400;
  color: #c48347;
  margin-top: 3%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bannerNosotros p {
  font-size: 33px;
  font-weight: 400;
  color: white;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#prueba {
  margin-top: 3%;
}

.menuHamb {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#471111), color-stop(#641919), to(#7c2222));
  background-image: linear-gradient(to bottom, black, #471111, #641919, #7c2222);
  color: #f3f3f3;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      grid-template-areas: "articulo1 articulo1 articulo1" "articulo2 articulo2 articulo2" "articulo3 articulo3 articulo3";
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.menuHamb #hamb1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: articulo1;
}

.menuHamb #hamb1 .margenProd {
  margin: 8px;
}

.menuHamb #hamb1 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.menuHamb #hamb1 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuHamb #hamb1 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.menuHamb #hamb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: articulo2;
}

.menuHamb #hamb2 .margenProd {
  margin: 8px;
}

.menuHamb #hamb2 .imgHamb {
  width: 300px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.menuHamb #hamb2 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuHamb #hamb2 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.menuHamb #hamb3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: articulo3;
}

.menuHamb #hamb3 .margenProd {
  margin: 8px;
}

.menuHamb #hamb3 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.menuHamb #hamb3 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuHamb #hamb3 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.tituloArticle {
  font-size: 45px;
  color: #6d6c6a;
  background-color: black;
  margin: 0px;
  text-align: center;
}

.menuFritas {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(black), color-stop(#471111), color-stop(#641919), to(#7c2222));
  background-image: linear-gradient(to top, black, black, #471111, #641919, #7c2222);
  color: #f3f3f3;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      grid-template-areas: "articulo1 articulo2 articulo3" "articulo1 articulo2 articulo3" "articulo1 articulo2 articulo3";
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.menuFritas #fritas1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: articulo1;
}

.menuFritas #fritas1 .margenProd {
  margin: 8px;
}

.menuFritas #fritas1 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.menuFritas #fritas1 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuFritas #fritas1 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.menuFritas #fritas2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: articulo2;
}

.menuFritas #fritas2 .margenProd {
  margin: 8px;
}

.menuFritas #fritas2 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
}

.menuFritas #fritas2 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuFritas #fritas2 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.menuFritas #fritas3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: articulo3;
}

.menuFritas #fritas3 .margenProd {
  margin: 8px;
}

.menuFritas #fritas3 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.menuFritas #fritas3 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menuFritas #fritas3 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

.combos {
  height: 600px;
  width: 100%;
  background-image: url("img/fondodepapas.jpg");
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textNosotros {
  margin: 10%;
  color: white;
  font-size: 20px;
}

.secNosotros {
  height: 85vh;
}

.secNosotros .nosotros {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tamContac {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
/*# sourceMappingURL=Main.css.map */