* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(black), color-stop(grey), to(lightgrey));
  background-image: linear-gradient(to bottom, black, black, grey, lightgrey);
  font-family: 'Staatliches', cursive;
}

div a {
  text-decoration: none;
  color: black;
}

.blanco {
  color: white;
}

.headerFlex {
  background-color: #0c0b0b;
  letter-spacing: 1px;
  padding: 5px 3px;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 425px) and (max-width: 769px) {
  .headerFlex {
    height: 20vh;
  }
}

@media (max-width: 425px) {
  .headerFlex {
    padding: 0px;
    height: 28vh;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerFlex .imgLogo {
  width: 200px;
  height: 100px;
  margin-left: 120px;
  margin-top: 25px;
}

@media (min-width: 425px) and (max-width: 769px) {
  .headerFlex .imgLogo {
    width: 150;
    height: 90;
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .headerFlex .imgLogo {
    width: 100px;
    height: 80px;
    margin-top: 6px;
    margin-left: 150px;
  }
}

.headerFlex .logoTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .headerFlex .logoTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.headerFlex .logoTrans:hover {
  width: 220px;
  height: 115px;
}

@media (max-width: 425px) {
  .headerFlex .logoTrans:hover {
    width: 100px;
    height: 80px;
  }
}

.headerFlex nav {
  width: 50%;
}

.headerFlex ul a {
  text-decoration: none;
  color: white;
}

.headerFlex .barraInicio {
  font-size: 16px;
  text-align: center;
  padding: 16px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center center;
      -ms-flex-align: center center;
          align-items: center center;
}

@media (max-width: 425px) {
  .headerFlex .barraInicio {
    margin-left: 17px;
  }
}

.headerFlex .barraInicio .listMenu {
  margin: 4px;
  margin-top: 50px;
}

@media (max-width: 425px) {
  .headerFlex .barraInicio .listMenu {
    margin-top: 0px;
    margin-left: 5px;
  }
}

.footer {
  background-color: #0c0b0b;
  width: 100%;
}

.footer .footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .footer .footerDiv {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .burgerTam {
  margin-top: 2%;
  width: 250px;
  height: 150px;
  cursor: pointer;
}

@media (max-width: 625px) {
  .footer .burgerTam {
    width: 150px;
    height: 90px;
    margin-left: 25%;
  }
}

.footer ul {
  list-style-type: none;
  text-align: center;
}

.footer ul .sociales {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.footer ul li a {
  color: white;
}

.footer p {
  padding: 15px;
  font-size: 25px;
}

.bannerMenu {
  height: 600px;
  width: 100%;
  background-image: url("img/hamburguesamenu.jpg");
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .bannerMenu {
    height: 300px;
  }
}

.bannerMenu h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.bannerMenu h1 a {
  margin-left: 36.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .bannerMenu h1 a {
    font-size: 45px;
    margin-left: 35%px;
  }
}

.bannerMenu p {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .bannerMenu p {
    font-size: 35px;
  }
}

.bannerMenu h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f1edea;
}

@media (max-width: 415px) {
  .bannerMenu h2 {
    font-size: 25px;
  }
}

.indexC {
  height: 150%;
}

.indexC .margen {
  margin-left: 12%;
}

.bannerNosotros {
  height: 600px;
  width: 100%;
  background-image: url("img/nosotros1.jpg");
  background-size: cover;
  background-position: center center;
}

@media (min-width: 425px) and (max-width: 769px) {
  .bannerNosotros {
    height: 500px;
  }
}

@media (max-width: 425px) {
  .bannerNosotros {
    height: 400px;
  }
}

.bannerNosotros h2 a {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerNosotros h3 {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 3%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 425px) {
  .bannerNosotros h3 {
    font-size: 30px;
  }
}

.bannerNosotros p {
  font-size: 33px;
  font-weight: 400;
  color: white;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .bannerNosotros p {
    margin-left: 20px;
    text-align: center;
  }
}

#prueba {
  margin-top: 3%;
}

.tituloArticle {
  font-size: 45px;
  color: #6d6c6a;
  background-color: black;
  margin: 0px;
  text-align: center;
}

.menuHamb {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#471111), color-stop(#641919), to(#7c2222));
  background-image: linear-gradient(to bottom, black, #471111, #641919, #7c2222);
  color: #f3f3f3;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      grid-template-areas: "articulo1 articulo1 articulo1" "articulo2 articulo2 articulo2" "articulo3 articulo3 articulo3";
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 425px) {
  .menuHamb {
    font-size: 14px;
    font-weight: 200px;
  }
}

.menuHamb #hamb1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo1;
}

.menuHamb #hamb1 .margenProd {
  margin: 8px;
}

@media (max-width: 425px) {
  .menuHamb #hamb1 .margenProd {
    font-size: 16px;
  }
}

.menuHamb #hamb1 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuHamb #hamb1 .imgHamb {
    width: 100px;
    height: 75px;
  }
}

.menuHamb #hamb1 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuHamb #hamb1 .hambTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuHamb #hamb1 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuHamb #hamb1 .hambTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.menuHamb #hamb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo2;
}

.menuHamb #hamb2 .margenProd {
  margin: 8px;
}

.menuHamb #hamb2 .imgHamb {
  width: 300px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuHamb #hamb2 .imgHamb {
    width: 100px;
    height: 75px;
  }
}

.menuHamb #hamb2 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuHamb #hamb2 .hambTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuHamb #hamb2 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuHamb #hamb2 .hambTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.menuHamb #hamb3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo3;
}

.menuHamb #hamb3 .margenProd {
  margin: 8px;
}

.menuHamb #hamb3 .imgHamb {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuHamb #hamb3 .imgHamb {
    width: 100px;
    height: 75px;
  }
}

.menuHamb #hamb3 .hambTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuHamb #hamb3 .hambTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuHamb #hamb3 .hambTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuHamb #hamb3 .hambTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.tituloArticle {
  font-size: 45px;
  color: #6d6c6a;
  background-color: black;
  margin: 0px;
  text-align: center;
}

.menuFritas {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(black), color-stop(#471111), color-stop(#641919), to(#7c2222));
  background-image: linear-gradient(to top, black, black, #471111, #641919, #7c2222);
  color: #f3f3f3;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      grid-template-areas: "articulo1 articulo1 articulo1" "articulo2 articulo2 articulo2" "articulo3 articulo3 articulo3";
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 425px) {
  .menuFritas {
    font-size: 14px;
    font-weight: 200px;
  }
}

.menuFritas #fritas1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo1;
}

.menuFritas #fritas1 .margenProd {
  margin: 8px;
}

@media (max-width: 425px) {
  .menuFritas #fritas1 .margenProd {
    font-size: 16px;
  }
}

.menuFritas #fritas1 .imgfry {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuFritas #fritas1 .imgfry {
    width: 100px;
    height: 75px;
  }
}

.menuFritas #fritas1 .fryTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuFritas #fritas1 .fryTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuFritas #fritas1 .fryTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuFritas #fritas1 .fryTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.menuFritas #fritas2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuFritas #fritas2 .margenProd {
  margin: 8px;
}

.menuFritas #fritas2 .imgfry {
  width: 300px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuFritas #fritas2 .imgfry {
    width: 100px;
    height: 75px;
  }
}

.menuFritas #fritas2 .fryTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuFritas #fritas2 .fryTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuFritas #fritas2 .fryTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuFritas #fritas2 .fryTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.menuFritas #fritas3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: articulo3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuFritas #fritas3 .margenProd {
  margin: 8px;
}

.menuFritas #fritas3 .imgfry {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .menuFritas #fritas3 .imgfry {
    width: 100px;
    height: 75px;
  }
}

.menuFritas #fritas3 .fryTrans {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 425px) {
  .menuFritas #fritas3 .fryTrans {
    -webkit-transition: none;
    transition: none;
  }
}

.menuFritas #fritas3 .fryTrans:hover {
  width: 320px;
  height: 220px;
}

@media (max-width: 425px) {
  .menuFritas #fritas3 .fryTrans:hover {
    width: 100px;
    height: 75px;
  }
}

.combos {
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .combos {
    display: -ms-grid;
    display: grid;
    margin: 2px;
  }
}

@media (min-width: 951px) {
  .combos {
    height: 600px;
  }
}

.combos .picNos {
  cursor: pointer;
}

@media (max-width: 950px) {
  .combos .picNos {
    height: 100;
  }
}

.combos .fraNos {
  text-align: center;
}

.textNosotros {
  margin: 10%;
  letter-spacing: 2px;
  color: white;
  font-size: 23px;
  text-align: center;
}

@media (max-width: 700px) {
  .textNosotros {
    font-size: 17px;
  }
}

@media (max-width: 700px) {
  .textNosotros {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0px;
  }
}

.secNosotros {
  height: 85vh;
}

.secNosotros .nosotros {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tamContac {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.tamContac p {
  color: white;
}
/*# sourceMappingURL=Main.css.map */